body{
    font-family: 'Poppins';font-size: 22px;
   margin: 0;
}
h1{
   font-size: 70px; 
}
.aa{
    color: orangered;
}
.ff{
    display: flex;

}
.bb{
    font-weight: 50%;
    width: 80%;
    text-align: left;
    padding-left: 90px;
    
}
.cc{
    padding-right: 10%;
    padding-top: 5%;
}
.dd{
    text-decoration: none;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px 40px; 
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.ff{
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
}
.gg{
    display: flex; margin-bottom: 150px;
}
.ii{
    margin-left: 100px;
    margin-right: 80px;

}

    
.jj{
    color: rgb(208, 235, 6);
}
.gg{
    background-image: url(img2.jpg);
    background: no-repeat;
    background-position: right;
}


.mm{
    float: left;
    width: 35%;
    padding: 3%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
     box-shadow: 10px 10px 40px #888888;
     border-left: 7px solid;
     border-image: linear-gradient(rgb(231, 114, 4),rgb(141, 207, 49)); 
     border-image-slice: 1;
      border-radius: 25px
     
}
.zz{
    float: left;
    width: 35%;
    padding: 3%;
    height: 300px;
    margin-bottom: 5%;
     box-shadow: 10px 10px 40px #888888;
     border-left: 7px solid;
     border-image: linear-gradient(rgb(6, 11, 98),rgb(8, 194, 194)); 
     border-image-slice: 1;
     border-radius: 25px
  
  
}
.yy{
    margin-left: 2%;
    box-shadow: 10px 10px 40px #888888;
     border-left: 7px solid;
     width: 35%;
     border-image: linear-gradient(rgb(3, 84, 73),rgb(21, 192, 47)); 
     border-image-slice: 1;
     
}
.ss{
    width: 90%;
    height: 200%;
    text-align: center;
} 
